@import "../../theme/variables.scss";
page-login {
  .content-md,
  .content-ios {
    background-color: #0099cf;
  }
  .scroll-content {
    padding: 0 !important;
  }
  ion-content {
    ion-list,
    .list-md,
    .list-ios {
      margin-top: 25vh;
      .item-block:first-child,
      .item-block:last-child {
        border: none;
      }
      ion-item,
      .item-ios,
      .item-md {
        padding-right: 16px;
        background-color: #0099cf;
        .item-inner {
          border-color: #fff;
        }
        .input-has-focus,
        .item-input-has-focus,
        .item-inner {
          border-color: #fff !important;
        }

        ion-label,
        ion-input {
          color: white !important;
        }
        .item-button {
          padding: 0px 3.5em;
          height: 38px;
          width: 90%;
          background-color: black;
          font-size: 1.6rem;
          color: white;
          font-weight: 700;
          box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.75);
          margin: 30px 0;
          border-radius: 25px;
        }
        a {
          color: white;
        }
        &.i-center {
          margin: 0 auto;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}
