<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img src="assets/icon/logo-big.png" class="logo-image">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <img class="avatar-image" src="assets/imgs/killua.jpg">
        <h2 id="name-user">Antonio Duprez</h2>
      </ion-item>

      <ion-item>
        <ion-icon class="menu-icons" *ngIf="submenu" name="arrow-back" (click)="closeSubmenu()" float-left></ion-icon>
      </ion-item>

      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="menu-icons" [name]="p.icon"></ion-icon>
        {{p.title}}
        <ion-icon class="menu-icons" *ngIf="p.component.length <= 0" name="arrow-forward" float-right></ion-icon>
      </button>

      <button menuClose ion-item  class="icon-logout" (click)="finishSesion()">
        <ion-icon name="log-out"></ion-icon>
        Cerrar sesión
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>